@{
    ViewData["Title"] = "Contato";
}

<div class="text-center">
    <div class="container contact-form">
            <div class="contact-image">
                <img src="~/images/@{
    ViewData["Title"] = "Contato";
}

<div class="text-center">
    <div class="container contact-form">
            <div class="contact-image">
                <img src="~/images/AmauriViagens.png" alt="Logo"/>
            </div>
            <form action="https://api.staticforms.xyz/submit" method="post">
                <input type="hidden" name="accessKey" value="a35dd4f2-c9dd-4896-880d-5a7cac740bc5">
                <h3>Deixe-nos uma mensagem</h3>
               <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Digite seu nome" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="email" class="form-control" placeholder="Digite seu E-mail" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="phone" class="form-control" placeholder="Digite seu número de telefone" value="" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea name="message" class="form-control" placeholder="Mensagem" style="width: 100%; height: 150px;"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="submit" name="btnSubmit" class="btn" value="Enviar" />
                        </div>
                    </div>
                </div>
            </form>
    </div>
</div>" alt="Logo"/>
            </div>
            <form action="https://api.staticforms.xyz/submit" method="post">
                <input type="hidden" name="accessKey" value="a35dd4f2-c9dd-4896-880d-5a7cac740bc5">
                <h3>Deixe-nos uma mensagem</h3>
               <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Digite seu nome" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="email" class="form-control" placeholder="Digite seu E-mail" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="phone" class="form-control" placeholder="Digite seu número de telefone" value="" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea name="message" class="form-control" placeholder="Mensagem" style="width: 100%; height: 150px;"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="submit" name="btnSubmit" class="btn" value="Enviar" />
                        </div>
                    </div>
                </div>
            </form>
    </div>
</div>