@model Agencia_de_Viagens_App.Models.Destiny

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Destiny</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="country" class="control-label"></label>
                <input asp-for="country" class="form-control" />
                <span asp-validation-for="country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="state" class="control-label"></label>
                <input asp-for="state" class="form-control" />
                <span asp-validation-for="state" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="municipality" class="control-label"></label>
                <input asp-for="municipality" class="form-control" />
                <span asp-validation-for="municipality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valueDaily" class="control-label"></label>
                <input asp-for="valueDaily" class="form-control" />
                <span asp-validation-for="valueDaily" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="promotion" /> @Html.DisplayNameFor(model => model.promotion)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}